---
import { Button as Btn, ButtonColors, ButtonSizes, defaultButtonProps } from "@mauroviveros/ui";
import { ButtonVariants } from "@mauroviveros/ui";
import { Canvas, Controls, Docs, Preview } from "@components";
import Layout from "@layout";

---

<Layout>
  <Preview name="Button" category="Actions" icon="lucide:mouse-pointer-click">
    <Canvas>
      <div class="flex flex-wrap items-center justify-center gap-2">
        {
          Object.values(ButtonVariants).map(variant => (
            Object.values(ButtonColors).map(color => (
              Object.values(ButtonSizes).map(size => (
                <Btn variant={variant} color={color} size={size} class:list={['aria-hidden:hidden', `btn-${variant} btn-${color} btn-${size}`]} aria-hidden="true">
                  Click
                </Btn>
              ))
            ))
          ))
        }
      </div>

    </Canvas>
    <Controls>
      <fieldset>
        <label for="variant">
          <p>Variant</p>
          <span>select</span>
        </label>
        <select name="variant" id="variant">
          {
            Object.values(ButtonVariants).map(variant => (
              <option value={variant} selected={variant === defaultButtonProps.variant}>{variant}</option>
            ))
          }
        </select>
      </fieldset>

      <fieldset>
        <label for="color">
          <p>Color</p>
          <span>select</span>
        </label>
        <select name="color" id="color">
          {
            Object.values(ButtonColors).map(color => (
              <option value={color} selected={color === defaultButtonProps.color}>{color}</option>
            ))
          }
        </select>
      </fieldset>

      <fieldset>
        <label for="size">
          <p>Size</p>
          <span>select</span>
        </label>
        <select name="size" id="size">
          {
            Object.values(ButtonSizes).map(size => (
              <option value={size} selected={size === defaultButtonProps.size}>{size}</option>
            ))
          }
        </select>
      </fieldset>
    </Controls>
  </Preview>
  <Docs>
  </Docs>
</Layout>


<script>
  const variant = document.getElementById("variant") as HTMLSelectElement;
  const color = document.getElementById("color") as HTMLSelectElement;
  const size = document.getElementById("size") as HTMLSelectElement;
  const buttons = document.querySelectorAll("button");

  function updateButtonVisibility() {
    buttons?.forEach(button => {
      const bool = button.matches(`.btn-${variant.value}.btn-${color.value}.btn-${size.value}`);
      button.setAttribute("aria-hidden", String(!bool));
    })
  }

  [variant, color, size].forEach(select => {
    select.addEventListener("change", updateButtonVisibility);
  });

  updateButtonVisibility();
</script>

