---
import type { HTMLAttributes } from 'astro/types';

type ButtonVariant = 'solid' | 'outline' | 'ghost';
type ButtonColor = 'primary' | 'secondary' | 'accent' | 'destructive' | 'muted';
type ButtonSize = 'xs' | 'sm' | 'base' | 'lg';

type BaseProps = {
  size?: ButtonSize;
  variant?: ButtonVariant;
  color?: ButtonColor;
  disabled?: boolean;
};

type Props = (BaseProps & { href: string } & HTMLAttributes<'a'>) | (BaseProps & { href?: undefined } & HTMLAttributes<'button'>);
const { size = 'base', variant = 'solid', color = 'primary', disabled, tabindex, class: className, ...props } = Astro.props as Props;
const { type = 'button', ...buttonProps } = props as HTMLAttributes<'button'>;
const { href, target, ...anchorProps } = props as HTMLAttributes<'a'>;

const SIZE_CLASSES = {
  xs: 'text-sm px-2 h-8 [&_svg]:size-3 gap-1',
  sm: 'text-sm px-3 h-9 [&_svg]:size-3 gap-2',
  base: 'text-sm px-4 h-10 [&_svg]:size-4 gap-2',
  lg: 'text-base px-8 h-12 [&_svg]:size-5 gap-2',
};
const VARIANT_CLASSES: Record<ButtonVariant, string> = {
  solid: '',
  outline: 'border border-input bg-background',
  ghost: ''
};

const COLOR_CLASSES: Record<ButtonVariant, Record<ButtonColor, string>> = {
  solid: {
    primary: 'bg-primary text-primary-foreground hover:bg-primary/90',
    secondary: 'bg-secondary text-secondary-foreground hover:bg-secondary/80',
    accent: 'bg-accent text-accent-foreground hover:bg-accent/90',
    destructive: 'bg-destructive text-destructive-foreground hover:bg-destructive/90',
    muted: 'bg-muted text-muted-foreground hover:bg-muted/80',
  },
  outline: {
    primary: 'hover:bg-primary hover:text-primary-foreground',
    secondary: 'hover:bg-secondary hover:text-secondary-foreground',
    accent: 'hover:bg-accent hover:text-accent-foreground',
    destructive: 'hover:bg-destructive hover:text-destructive-foreground',
    muted: 'hover:bg-muted hover:text-muted-foreground',
  },
  ghost: {
    primary: 'hover:bg-primary hover:text-primary-foreground',
    secondary: 'hover:bg-secondary hover:text-secondary-foreground',
    accent: 'hover:bg-accent hover:text-accent-foreground',
    destructive: 'hover:bg-destructive hover:text-destructive-foreground',
    muted: 'hover:bg-muted hover:text-muted-foreground',
  },
}

const classes = [
  'inline-flex items-center justify-center ring-offset-background',
  'cursor-pointer rounded-md transition-colors font-medium whitespace-nowrap',
  'focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2',
  '[&_svg]:pointer-events-none [&_svg]:shrink-0',
  SIZE_CLASSES[size],
  VARIANT_CLASSES[variant],
  COLOR_CLASSES[variant][color],
  className,
];
---

{
  href ? (
    <a
      href={href}
      rel={target === '_blank' && anchorProps.rel ? 'noopener noreferrer' : anchorProps.rel}
      target={target}
      tabindex={disabled ? -1 : tabindex}
      aria-disabled={disabled}
      class:list={[
        'aria-disabled:pointer-events-none aria-disabled:opacity-50',
        classes
      ]}
      {...anchorProps}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      class:list={[
        'disabled:pointer-events-none disabled:opacity-50',
        classes
      ]}
      aria-disabled={disabled}
      disabled={disabled}
      tabindex={disabled ? -1 : tabindex}
      {...buttonProps}
    >
      <slot />
    </button>
  )
}
